.allRobots{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
}
    
h1 {
      font-family: 'SEGA LOGO FONT';
      font-weight: 200;
      color: #0ccac4;
      font-size: xx-large;
}
hr{
    border: 1px black solid;
}

h4{
    color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    color: #0ccac4;
}